<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WikiScrap3r</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: FBF7EF;">
        <div class="container"><a class="navbar-brand" href="" onClick="window.location.reload() style="color: rgb(49, 52, 55);">WikiScrape</a></div>
    </nav>
    <section class="highlight-clean" style="background: rgb(238, 244, 247);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 20px;color: rgb(49, 52, 55);margin-bottom: 8px;">The fastest way to find information.</h2>
                <p class="text-center" style="color: rgb(125, 130, 133);margin-bottom: 45px;">Begin by entering any word or phrase.</p>
            </div>
            <div class="col-7 col-sm-7 col-md-6 offset-md-3 d-md-flex justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-md-center" style="margin-left: 0px;">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="width: 300px;background: rgb(238, 244, 247);">
                    <div class="container">
                        <form method="POST" class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search" style="color: rgb(125, 130, 133);"></i></label><input class="form-control d-flex justify-content-md-center search-field" type="search" id="search-field" 
                                name="text" style="border-width: 1px;border-color: rgb(204,204,204);width: 196px;margin-left: 12px;margin-right: 12px;color: rgb(125, 130, 133);"></div>
                            <div class="buttons" style="margin-left: 60px;margin-top: 15px;margin-bottom: 15px;"><input type="submit" class="btn btn-primary" style="background: rgb(49, 52, 55);"></div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <div method="POST" class="card">
        <div class="card-body">
            {% if result %}
            <p class="card-text">
                {{ result }}
            </p>
            {% endif %}
        </div>
        <div class="card-body">
            {% if response %}
            <p class="card-text">
                {{ response }}
            </p>
            {% endif %}
        </div>
    </div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>





